<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Archita's Task Pro</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
    <link rel="icon" href="/icon.ico" type="image/x-icon">
</head>

<body>
    <h1>Archita's Task Pro</h1>
    <p>Your Hub for Ultimate Task Management</p>
    <div class="container">
        <h2>Login</h2>
        <div id="loginError" style="color:red;"></div>
        <form id="loginForm" onsubmit="loginUser(); return false;">
            <input type="text" name="username" id="loginUsername" placeholder="Username" required><br>
            <input type="password" name="password" id="loginPassword" placeholder="Password" required><br>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account?<a href="/register">Register here</a></p>
    </div>

    <script>
        async function loginUser(){
            const username = document.getElementById("loginUsername").value;
            const password = document.getElementById("loginPassword").value;
            const loginError=document.getElementById("loginError");
            try{
                const response = await fetch("/login", {
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({username,password})
                });
                if(!response.ok){
                    const errorText= await response.text();
                    throw new Error(errorText);
                }
                window.location.href='/';
            }catch(error){
                loginError.textContent=error.message;
            }
        }
    </script>  
</body>
</html>




